:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
}

.message-wrapper {
  margin-bottom: 1em;

  p {
    font-size: 16px;
    text-align: center;
  }
}

.actions {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  button {
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 160px;
    margin-top: 1em;
  }
}
