<div class="access-table-container">

  <table mat-table [dataSource]="accessHistoryData" class="access-table"
         matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
    <!-- Credential Column -->
    <ng-container matColumnDef="credential">
      <th mat-header-cell *matHeaderCellDef>Credential</th>
      <td mat-cell *matCellDef="let row">{{row.credential}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Accessed At</th>
      <td mat-cell *matCellDef="let row">{{row.date|date}}</td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Unit</th>
      <td mat-cell *matCellDef="let row">{{row.unitName}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="total" [pageSize]="30"></mat-paginator>
