:host {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-title {
  text-align: center;
  font-weight: normal;
  padding: 0.5em;
  font-size: 1.3rem;
}

.sidebar-list {
  margin-top: 0 !important;
  padding-top: 0 !important;
  flex: 1;

  a::ng-deep{
    .mat-list-item-content {
      flex-direction: row-reverse;
    }
  }

  ::ng-deep {
    .divided {
      line-height: 16px;
      border-bottom: 1px solid;
      border-color: #80808047;
      height: 10px;
      margin-bottom: 2.5em;
      margin-top: 0;
      position: relative;

      span {
        position: absolute;
        bottom: -2rem;
        left: 2rem;
      }
    }
  }
}

.toggles {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 1em;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 1em;

  img {
    padding: 1.5em;
    width: 120px;
    text-align: center;
  }
}


