<div class="logo">
  <img src="assets/branding/vip-logo.png" alt="VIP Indoor Storage Logo">
</div>

<mat-nav-list class="sidebar-list">
  <ng-container *ngFor="let item of sidebarItems|async">
    <ng-container *ngIf="!isSection(item); else sectionTemplate">
      <a mat-list-item routerLinkActive="active-link" *ngIf="!item.isExternal" [routerLink]="item.link">
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <span matLine>{{ item.title }}</span>
      </a>

      <a mat-list-item routerLinkActive="active-link" *ngIf="item.isExternal" [href]="item.link" target="_blank">
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <span matLine>{{ item.title }}</span>
      </a>
    </ng-container>

    <ng-template #sectionTemplate>
      <div mat-subheader>{{item.title}}</div>
    </ng-template>
  </ng-container>
</mat-nav-list>

<app-mini-profile [user]="currentUser|async" [role]="currentRole|async"></app-mini-profile>

<div class="toggles">
  <mat-slide-toggle
    [ngModel]="isDarkMode|async"
    (ngModelChange)="updateTheme($event)">
    Dark Mode
  </mat-slide-toggle>
</div>
