<mat-card>
  <form class="global-search">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of results | async" [value]="result.data.id" (click)="navigate(result)">
          <mat-icon>{{getIcon(result.type)}}</mat-icon>
          {{getDisplayData(result)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button class="index-button" [disabled]="disableIndexButton" (click)="reIndex()">
      <mat-icon>replay</mat-icon>
    </button>
  </form>

</mat-card>
