form.global-search {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
  font-size: 18px;

  .mat-form-field {
    width: 100%;
  }
}

mat-card {
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 25px;
}
