form.global-search {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  font-size: 18px;
  .mat-form-field {
    width: 100%;
  }
}

mat-card {
  margin: 1.2em;
  border-radius: 60px;
}

.index-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0.5em;
  height: 100%;
  opacity: 0.2;
}
