<mat-card>
  <form class="global-search">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Search</mat-label>
      <input type="text"
             matInput
             [formControl]="searchControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option class="search-result" *ngFor="let result of (results | async); last as last" [value]="result.data.id" (click)="navigate(result)">
         <app-global-search-result [result]="result" [last]="last"></app-global-search-result>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

</mat-card>
