<mat-card class="mat-elevation-z3">
  <div class="title-wrapper">
    <div class="logo">
      <img src="assets/branding/vip-logo.png" alt="VIP Indoor Storage Logo">
    </div>
      <mat-divider></mat-divider>
    <h2>{{title|async}}</h2>
  </div>
  <div class="inner-card">
    <div class="animation-wrapper" [@triggerName]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
      </div>
    <div class="return-to-login" *ngIf="showLoginBackButton|async">
      <button mat-icon-button routerLink="/auth/login">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
