:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card {
  min-width: 500px;
  min-height: 780px;
  border-radius: 20px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo img {
    width: 150px;
  }

  mat-divider {
    position: relative;
    flex: 1;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
  }
}

.inner-card {
  height: 85%;

  .animation-wrapper {
    height: 100%;
  }
}

.return-to-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-size: 30px;
}
