:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card {
  padding: 4em;
  min-width: 650px;
  min-height: 780px;
}

.title-wrapper {
  height: 15%;
  h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
  }
}

.inner-card {
  height: 85%;

  .animation-wrapper {
    height: 100%;
  }
}

.return-to-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-size: 30px;
}
