<div class="sort-toolbar" hoverElevation [raisedElevation]="2">
  <table matSort matSortDirection="asc" matSortDisableClear>
    <tr>
      <ng-container *ngFor="let column of columns">
        <th [mat-sort-header]="column.name" [disabled]="!shouldSort(column)">{{column.title}}</th>
      </ng-container>
    </tr>
  </table>
</div>

<div class="rows" [@listAnimation]="data.length">
  <app-simple-table-row *ngFor="let item of data" [item]="item"  hoverElevation [raisedElevation]="2" (click)="rowEvent.emit(item)">
    <ng-container *ngTemplateOutlet="rowTemplate; context: {$implicit: item}"></ng-container>
  </app-simple-table-row>

</div>
