<div class="background-overlay"></div>
<div class="access-meta">
  <h3 class="title">Unit Access</h3>
  <div class="wrapper">
    <div class="amount">
      <span class="access-count">{{userAccessCount|async}}</span>
      <span class="access-details">{{(userAccessCount|async) === 1 ? 'User has' : 'Users have'}} access</span>
    </div>
  </div>
  <div class="button-wrapper">
    <button mat-flat-button color="primary" (click)="addUser()">Add Access</button>
    <button mat-flat-button color="secondary" *ngIf="showRequestButton" (click)="requestKeycard()">Request New Credential</button>
  </div>
</div>
<div class="access-items" [@listAnimation]="userAccessCount|async">
  <div class="access-item" *ngFor="let guest of guests|async">
    <span class="username" [class.owner-name]="isOwner(guest)">{{guest.firstName}} {{guest.lastName}}</span>
    <mat-icon *ngIf="isOwner(guest); else regularActions" color="primary" matTooltip="Owner" class="owner-indicator">perm_identity</mat-icon>
    <ng-template #regularActions>
      <button mat-icon-button class="revoke-access" (click)="revokeAccess(guest)" matTooltip="Revoke Access">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </ng-template>
  </div>
</div>
