<div class="background-overlay"></div>
<div class="access-meta">
  <h3 class="title">Unit Access</h3>
  <div class="amount">
    <span class="access-count">{{userAccessCount|async}}</span>
    <span class="access-details">{{(userAccessCount|async) === 1 ? 'User has' : 'Users have'}} access</span>
  </div>
  <div class="action-list">
    <mat-list>
      <mat-list-item *ngFor="let guest of guests|async">
        {{guest.firstName}} {{guest.lastName}}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="button-wrapper">
    <button mat-flat-button color="primary" (click)="addUser()">Add Access</button>
    <button mat-flat-button color="secondary" *ngIf="showRequestButton" (click)="requestKeycard()">Request New Credential</button>
  </div>
</div>
