@use '../access-card.common' as common;
@include common.all-styles;

.access-meta {
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.access-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .access-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
    padding: 3px 15px;
    border-radius: 16px;
    min-height: 35px;

    .username {
      font-size: 16px;
      line-height: 23px;

      &.owner-name {
        font-weight: bold;
      }
    }

    .revoke-access {
      width: 24px;
      height: 24px;
      line-height: 23px;
      color: red;
    }
  }
}


.amount {
  margin-top: 1em;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  .access-count {
    font-weight: bold;
    font-size: 48px;
  }

  .access-details {
    font-size: 18px;
    color: gray;
    margin-top: 1em;
  }
}

.amount,
.title,
.button-wrapper {
  user-select: none;
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

