<mat-drawer-container class="units-container">
  <mat-drawer mode="side" position="end" [opened]="true">
    <mat-toolbar class="unit-types-toolbar">
      <div class="metadata">
        <span class="title">Unit Types</span>
        <span class="count" *ngIf="!isLoadingUnitTypes">{{totalUnitTypes}}</span>
        <mat-spinner [diameter]="20" *ngIf="isLoadingUnitTypes"></mat-spinner>
      </div>
      <app-circle-button color="accent" (click)="openCreateUnitTypeDialog()">
        <mat-icon>add</mat-icon>
      </app-circle-button>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item *ngFor="let type of unitTypes; last as last" @onEnterRight (click)="unitTypeSelected(type)">
        <div mat-line class="unit-type-name">{{type.name}}</div>
        <div mat-line> {{getTypePricing(type)}} </div>
        <mat-divider *ngIf="!last"></mat-divider>
      </button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>

    <app-page-header [actions]="pageHeaderActions" title="Units" icon="home" (searchValueChanged)="updateSearchValue($event)" @onEnterLeft></app-page-header>

    <div class="table-container">
      <app-loading-shade *ngIf="isLoadingUnits" @fade></app-loading-shade>

      <ng-template #rowTemplate let-item>
        <div class="unit-row">
          <span class="number">{{item['id']}}</span>
          <span class="status">
            <app-status-badge [mappedValues]="statusBadgeValues" [currentValue]="item['available']"></app-status-badge>
          </span>
          <span class="type">{{item['unitTypeName']}}</span>
          <button mat-icon-button (click)="openUnitDebugDialog(item)">
            <mat-icon>bug_report</mat-icon>
          </button>
        </div>
      </ng-template>

      <app-simple-table @onEnterLeft [data]="units" [columns]="displayedColumns" (tableEvent)="tableEventTriggered($event)"
                        [rowTemplate]="rowTemplate" (rowEvent)="goToUnit($event)">
      </app-simple-table>

      <div class="paginator-container">
        <mat-paginator [length]="totalUnits" [pageSize]="pageSize"></mat-paginator>
      </div>

      <app-no-data-shade entityName="Units" *ngIf="!isLoadingUnits && totalUnits === 0" @fade></app-no-data-shade>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
