@use 'src/app/modules/shared/styles/table.style' as table-style;

:host {
  @include table-style.host;
}

@include table-style.base;


.units-container {
  flex: 1;

  .mat-drawer-content {
    display: flex;
    flex-direction: column;
  }

  .mat-drawer {
    min-width: 300px;
  }
}

.unit-types-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .metadata {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 1px;
    margin-right: 1em;
  }
}

.unit-type-name {
  font-weight: bold !important;
}

.unit-row {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;

  button {
    position: absolute;
    right: 1em;
  }

  .number, .status, .type {
    flex: 1;
  }

  .number {
    font-size: 20px;
  }

  .paidOn, .paymentMethod {
    font-size: 16px;
  }

  .paymentMethod .type-image {
    width: 50px;
  }

  .status .status-badge {
    padding: 5px 1em;
    border-radius: 8px;

    &.status-badge-true {
      background-color: #00ffc433;
      color: #11cec2;
    }

    &.status-badge-false {
      background-color: #ff03265e;
      color: #d10404;
    }
  }
}
