:host {
  flex: 1;
  border-radius: 8px;
  display: flex;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}

.chart-meta {
  padding-top: 10px;
  padding-left: 10px;
}

.chart-wrapper {
  flex: 1;
  max-height: calc(100% - 60px);
}

.chart-details {
  padding: 1px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.chart-measurement {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  user-select: none;
}
