@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');

  app-unit-chart {
    background-color: mat.get-color-from-palette($primary, 200, 0.2);

    .chart-measurement, .chart-title {
      @if $isDarkTheme {
        color: mat.get-color-from-palette($accent, 100, 0.9);
      } @else {
        color: gray;
      }
    }
  }
}


@mixin theme($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme, $isDarkTheme);
  }
}
