:host {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  flex: 1;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: -2px;

  .mat-icon {
    $icon-size: 30px;
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    line-height: $icon-size;
  }

  &.has-badge .mat-badge-content {
    font-family: 'Material Icons', emoji;
    background-color: red;
    font-size: 13px;
    line-height: 17px;
    pointer-events: none;
  }
}

.indicator-text {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 65%;

  .indicator-title {
    margin-right: 0.4rem;
    vertical-align: middle;
    font-size: 1rem;
  }

  .indicator-value {
    font-weight: 500;
    font-size: 1.8rem;
    vertical-align: middle;
  }
}

.ripple-wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 8px;
}

* {
  user-select: none;
}
