<div class="action-bar">
  <mat-toolbar>
    <button mat-icon-button routerLink="../../">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="flexy-title">
      <span *ngIf="chartValue|async as value; else default" [@onEnterLeft]="{params: {delay: 110}}">
        <ng-container *ngTemplateOutlet="default"></ng-container> - {{value}}
      </span>
      <ng-template #default>
          Now
      </ng-template>
    </span>
    <button mat-icon-button (click)="paused = !paused" matTooltip="Pause/play the incoming data">
      <mat-icon>{{paused ? 'play_circle_filled' : 'pause_circle_filled'}}</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>
<div class="full-chart-wrapper">
  <app-unit-chart (current)="chartValueUpdated($event)" large="true" [paused]="paused" [type]="chartType|async" [unit]="unit|async"></app-unit-chart>
</div>
