<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Active</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-list class="credential-list">
      <mat-list-item *ngFor="let keycard of keycards|async; last as last">
        <span class="name" matLine>{{keycard.name}}</span>
        <span class="id" matLine>{{keycard.id}}</span>
        <span class="facility" matLine>{{keycard.facilityCode}}</span>
        <button disableRipple mat-flat-button [color]="keycard.lost ? 'accent' : 'warn'" (click)="toggleLost(keycard)">{{keycard.lost ? 'Found' : 'Lost'}}</button>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <app-no-data-shade *ngIf="!isLoadingKeycards && totalKeycards === 0" entityName="Key Cards" @fade></app-no-data-shade>
  </mat-card-content>
</mat-card>
