mat-card {
  border-radius: 16px;
  flex: 1;
  margin-right: 1em;
}

:host {
  flex: 1;
  display: flex;
}

.credential-list {
  margin-top: 1em;

  ::ng-deep {

    button {
      transition: all 350ms ease-in-out!important;
    }

  }
}
