@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($color-config, $isDarkMode) {
app-unit-preview .mat-card {
  @if $isDarkMode {
    border-color: #4e4d4d;
  } @else {
    border-color: #e7e7e7
  }
}
}


@mixin theme($theme, $isDarkMode) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($color-config, $isDarkMode);
  }
}
