<div class="page-header">
  <mat-toolbar>
    <button *ngIf="showBackButton" mat-icon-button class="back-button" routerLink="../">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{title}}</h1>
    <span class="spacer"></span>
    <button mat-icon-button *ngFor="let action of actions" [color]="action.color || 'primary'" class="icon-button" (click)="actionClicked(action)" [matTooltip]="action.title">
      <mat-icon>{{action.icon}}</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <app-search-bar *ngIf="search" (searchValueChanged)="searchValueChanged.emit($event)"></app-search-bar>
</div>
