.page-header {
  display: flex;
  flex-direction: column;
  user-select: none;

  .mat-toolbar {
    h1 {
      margin-left: 1em;
    }

    span.spacer {
      flex: 1;
    }

    button {
      border-radius: 9px;
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-right: 1em;
    }

    .icon-text-button {
      mat-icon {
        font-size: 18px;
        margin-right: 1rem;
      }
    }
  }

  app-search-bar {
    margin-top: 1.5em;
    flex: 1;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
  }
}
