@use 'sass:map';
@use 'node_modules/@angular/material' as mat;

@mixin color($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, foreground);
  $background: map.get($color-config, background);

  app-mini-profile {
    border-color: mat.get-color-from-palette($foreground, divider);

    span.role {
      color: mat.get-color-from-palette($foreground, secondary-text);
    }
  }
}


@mixin theme($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme, $isDarkTheme);
  }
}
