<form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
    <mat-label>Email address</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" autocomplete="username">
    <span matSuffix>
        <mat-icon>alternate_email</mat-icon>
      </span>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
    <mat-label>Password</mat-label>
    <input matInput placeholder="••••••" type="password" [formControl]="password" autocomplete="current-password">
    <span matSuffix>
        <mat-icon>lock</mat-icon>
      </span>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="error-wrapper">
    <mat-error *ngIf="error">{{error}}</mat-error>
  </div>

  <span class="spacer"></span>
  <button type="submit" mat-stroked-button [disabled]="password.invalid || email.invalid">Login
  </button>

  <div class="actions">
    <mat-hint class="iforgot">
      <span routerLink="/auth/forgot">Forgot Password</span>
      <mat-divider vertical></mat-divider>
      <span routerLink="/auth/verify">Validate Account</span>
    </mat-hint>

    <mat-divider class="horizontal-divider"></mat-divider>
    <mat-hint class="sign-up-message">Don't have an account?</mat-hint>
    <a class="register" mat-stroked-button routerLink="/auth/register">Sign Up</a>
  </div>
</form>

