<div class="title-wrapper">
  <h1>Storro</h1>
  <h2>Login</h2>
</div>

  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput autocomplete="off" placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="" type="password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="error-wrapper">
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>

    <button type="submit" mat-stroked-button [disabled]="password.invalid || email.invalid" (click)="login()">Login</button>
  </form>
