:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;

  .mat-form-field {
    margin-bottom: 1em;
  }
}


.error-wrapper {
  height: 22px;
  margin-bottom: 1em;
}

.actions {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;

  .horizontal-divider {
    margin-top: 0.5em;
    position: relative;
    width: 100%;
    margin-bottom: 2em;
  }

  .sign-up-message {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
  }
}

.spacer {
  flex: 1;
}

.iforgot {
  text-align: center;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;

  mat-divider {
    margin-left: 1em;
    margin-right: 1em;
  }

  span:hover {
    cursor: pointer;
  }
}

