mat-toolbar {
  button {
    margin-right: 1em;
  }

  span {
    flex: 1;
  }

  app-search-bar {
    width: 400px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-drawer-container {
  flex: 1;
}

.search-map-wrapper {
  padding: 1.2em;
}

.loading-shade {
  z-index: 100;
}
