mat-card {
  border-radius: 16px;
  flex: 1;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex: 1;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1.2em!important;
}

mat-card-header {
  justify-content: space-between;
}

:host {
  flex: 1;
  display: flex;
}

.request-list {
  margin-top: 1em;

  ::ng-deep {
    .name {
      margin-bottom: 1em;
    }

    .id {
      color: grey;
    }

    .date {
      padding-bottom: 2em;
    }

  }
}
