<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Requested</h1>
    <button mat-flat-button color="primary" (click)="requestKeycard()">Request Key Card</button>
  </mat-card-header>
  <mat-card-content>
    <mat-list [@listAnimation]="totalRequests" class="request-list">
      <mat-list-item *ngFor="let request of requests|async; last as last">
        <span class="name" matLine>{{request.name}}</span>
        <span class="id" matLine>{{request.id}}</span>
        <span class="date" matLine>{{request.requestedOn|date}}</span>
        <span matLine class="status">
            <app-status-badge [mappedValues]="statusBadgeValues" [currentValue]="request.state"></app-status-badge>
          </span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <app-no-data-shade *ngIf="!isLoadingRequests && totalRequests === 0" entityName="Requests" @fade></app-no-data-shade>
  </mat-card-content>
</mat-card>
