<mat-card>
  <mat-card-header>
    <h1 mat-card-title>Requested</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-list [@listAnimation]="totalRequests">
      <mat-list-item *ngFor="let request of requests|async; last as last">
        <span matLine>{{request.id}}</span>
        <span matLine>{{request.requestedOn|date}}</span>
        <span matLine class="status">
            <app-status-badge [mappedValues]="statusBadgeValues" [currentValue]="request.state"></app-status-badge>
          </span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    <app-no-data-shade *ngIf="!isLoadingRequests && totalRequests === 0" entityName="Requests" @fade></app-no-data-shade>
  </mat-card-content>
  <mat-card-actions>
    <div class="error-wrapper">
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>
    <app-spinner-button [submitted]="requested" [disabled]="requestDisabled" (click)="requestKeycard()">Request Key Card</app-spinner-button>
  </mat-card-actions>
</mat-card>
