<layout-single-card-page title="Key Cards" subtitle="View or manage your credentials and credential requests here"
                         [fullWidth]="true" backRouterLink="../" [showAddButton]="true"
                         addButtonTooltip="Request a new Key Card" (addClicked)="requestKeycard()">
  <mat-tab-group>
    <mat-tab label="Active">
      <mat-list class="credential-list">
        <mat-list-item *ngFor="let keycard of keycards|async; last as last">
          <mat-icon mat-list-icon>badge</mat-icon>
          <span class="name" matTooltip="Key Card Name" [class.none]="!keycard.name"
                matLine>{{keycard.name || 'None' }}</span>
          <span class="facility" matTooltip="Key Card Facility Code" matLine>{{keycard.facilityCode}}</span>
          <button class="lost-button" disableRipple mat-flat-button [color]="keycard.lost ? 'accent' : 'warn'"
                  (click)="toggleLost(keycard)">{{keycard.lost ? 'Found' : 'Lost'}}</button>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <app-no-data-shade *ngIf="!isLoadingKeycards && totalKeycards === 0" entityName="Key Cards"
                         @fade></app-no-data-shade>
    </mat-tab>

    <mat-tab label="Requested">
      <mat-list [@listAnimation]="totalRequests" class="request-list">
        <mat-list-item *ngFor="let request of requests|async; last as last">
          <span class="name" matLine>{{request.name}}</span>
          <span class="id" matLine>{{request.id}}</span>
          <span class="date" matLine>{{request.requestedOn|date}}</span>
          <span matLine class="status">
            <app-status-badge [mappedValues]="statusBadgeValues" [currentValue]="request.state"></app-status-badge>
          </span>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <app-no-data-shade *ngIf="!isLoadingRequests && totalRequests === 0" entityName="Requests"
                         @fade></app-no-data-shade>
    </mat-tab>
  </mat-tab-group>
</layout-single-card-page>
