<app-page-header title="Tenants" (searchValueChanged)="updateSearchValue($event)" [actions]="pageHeaderActions" @onEnterLeft></app-page-header>
<div class="table-container">
  <app-loading-shade *ngIf="isLoadingTenants" @fade></app-loading-shade>

  <ng-template #rowTemplate let-item>
    <div class="user-row">
      <span class="firstName">{{item['firstName']}}</span>
      <span class="lastName">{{item['lastName']}}</span>
      <span class="role">{{item['role']|role}}</span>
      <span class="email">{{item['email']}}</span>
      <span class="emailValidated">
            <span class="status-badge status-badge-{{item['emailValidated']}}">{{item['emailValidated'] ? 'Validated' : 'Pending Validation' }}</span>
          </span>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="openEditUserDialog(item)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="openUserDebugDialog(item)">
          <mat-icon>bug_report</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <app-simple-table @onEnterLeft [data]="tenants" [columns]="displayedColumns" (tableEvent)="tableEventTriggered($event)"
                    [rowTemplate]="rowTemplate">
  </app-simple-table>

  <div class="paginator-container">
    <mat-paginator [length]="totalTenants" [pageSize]="pageSize"></mat-paginator>
  </div>

  <div class="no-data-shade" *ngIf="!isLoadingTenants && totalTenants === 0" @fade>
    <h1>No Tenants</h1>
  </div>
</div>
