:host {
  margin: 1em;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  flex-direction: column;
}

.mat-card {
  flex: 1;
  padding: 1em;
  border-width: 0;
  border-style: solid;
  box-shadow: none !important;
}

.unit-card {
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.unit-card-header {
  display: flex;
  flex-direction: row;
  margin-left: 1.6rem;
  margin-right: 0.7rem;
  padding-top: 10px;

  .header-text {
    flex: 1;
    display: flex;
    align-items: stretch;

    .mat-card-title {
      margin-bottom: 12px;
      display: block;
      font-size: 20px;
    }

    .mat-card-subtitle {
      margin-bottom: 8px;
      margin-top: -8px;
    }

    .mat-icon-button {
      margin-left: 1em;
    }
  }
}

.indicator-grid {
  margin-top: 1em;
}

* {
  user-select: none;
}

.chart-tile {
  app-unit-chart {
    margin: 0.8em;
  }
}

.unit-indicator-tile {
  margin-top: -1em;

  app-unit-indicator {
    margin: 0.8em;
  }
}

.carousel-wrapper {
  height: 360px;
}

.unit-snapshot-wrapper {
  margin: 0.8em;
  height: 95%;
}
