:host {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;

  .mat-form-field:first-child {
    margin-top: 1.5em;
  }

  .mat-form-field {
    margin-bottom: 1em;

    .mat-error {
      font-size: 12px;
    }
  }
}

h1 {
  margin: 0!important;
}

.address-group {
  .mat-form-field:first-child {
    margin-bottom: 1em;
  }
  mat-divider {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
