@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');
  $foreground: map.get($color-config, foreground);

  app-payment-method {
    .payment-method-card {
      background-color: mat.get-color-from-palette($primary, 100, 0.1);
    }

    .buttons {
      background-color: mat.get-color-from-palette($primary, 100, 0.05);
    }

    &.current {
      border-bottom-color: mat.get-color-from-palette($foreground, divider);
    }
  }
}


@mixin theme($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme, $isDarkTheme);
  }
}
