<div class="payment-method-actions">
  <div class="header">
    <h3>{{(title||type)|titlecase}}</h3>
  </div>

  <div class="buttons">
    <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteClicked.emit(true)">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>
</div>
<div class="payment-method-card">
  <img class="type-image" [src]="typeImage">
  <div class="card-meta" *ngIf="isCreditCard; else simpleIdentifier">
    <div class="card-info">
      <span>{{type|titlecase}}</span><span>{{identifier||'XXXX'}}</span>
    </div>
    <div class="card-info">
      <span>Expires</span><span>{{expiry||'11/24'}}</span>
    </div>
  </div>

  <ng-template #simpleIdentifier>
    <span class="simple-identifier">{{identifier}}</span>
  </ng-template>

</div>
