<ng-container *ngIf="unit|async as unit">
  <mat-card class="mat-elevation-z0 unit-card">
    <div class="unit-card-header">
      <div class="header-action" @fromTop>
        <button mat-icon-button routerLink="/admin/units">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="header-text">
        <mat-card-title @fromTop>
          {{unit.id}}
        </mat-card-title>
        <mat-card-subtitle @fromTop>
          {{unit.location}}
        </mat-card-subtitle>
      </div>
    </div>
    <mat-card-content class="unit-content">
      <mat-grid-list class="chart-grid" cols="4" gutterSize="0px" rowHeight="1:1">
        <mat-grid-tile class="chart-tile" *ngFor="let chart of unitCharts; index as index" [@cardGridAnimation]="{value: ':enter', params: {delay: 50 * index}}">
          <app-unit-chart [routerLink]="getChartURL(chart)" hoverElevation [large]="true" [defaultElevation]="0" [raisedElevation]="5" [type]="chart" [unit]="unit"></app-unit-chart>
        </mat-grid-tile>

        <mat-grid-tile class="snapshot-tile" colspan="2" [@cardGridAnimation]="{value: ':enter', params: {delay: 50 * (unitCharts.length + 1)}}">
          <div class="unit-snapshot-wrapper">
            <app-unit-snapshot mode="ADMIN" [unit]="unit" hoverElevation [defaultElevation]="0" [raisedElevation]="5"></app-unit-snapshot>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list class="indicator-grid" cols="4" rowHeight="100px"  gutterSize="0">
        <mat-grid-tile class="unit-indicator-tile" *ngFor="let unitIndicator of unitIndicators; index as index" [@cardGridAnimation]="{value: ':enter', params: {delay: 50 * ((index + 1)/2)}}">
          <app-unit-indicator  hoverElevation [defaultElevation]="0" [raisedElevation]="5" [type]="unitIndicator" [unitData]="unitData|async"></app-unit-indicator>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list class="manage-grid" cols="4" rowHeight="1:1"  gutterSize="0">
        <mat-grid-tile class="access-grid-tile" colspan="2" [@cardGridAnimation]="{value: ':enter', params: {delay: 100}}">
          <app-access-card [showRequestButton]="false" [unit]="unit" hoverElevation [defaultElevation]="0" [raisedElevation]="5"></app-access-card>
        </mat-grid-tile>
        <mat-grid-tile class="access-grid-tile" rowspan="1" colspan="2" [@cardGridAnimation]="{value: ':enter', params: {delay: 150}}">
          <app-access-history-card [unit]="unit" hoverElevation [defaultElevation]="0" [raisedElevation]="5"></app-access-history-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

</ng-container>
