<mat-drawer-container class="billing-container">
  <mat-drawer mode="side" position="end">
    <div class="billing-sidebar">
      <h1 class="title">Payment Methods</h1>
      <app-payment-method *ngFor="let method of paymentMethods|async"
                          [title]="method.name"
                          [current]="method.current"
                          [type]="method.type"
                          [identifier]="method.identifier"
                          [expiry]="method.expiry">

      </app-payment-method>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="billing-main">
      <div class="billing-info">
        <app-billing-card
          @onEnterLeft
          amount="228.55"
          subtitle="Upcoming Bill"
          title="by June 12th, 2022"
          actionTitle="Manage Payment"
          routerLink="/manage/payment"
          color="primary"
          [showBackground]="true"
        ></app-billing-card>

        <app-billing-card
          amount="223.49"
          [@onEnterLeft]="{params: { delay: 100}}"
          [showBorders]="true"
          [chargedTo]="paymentMethodCurrent|async"
          subtitle="Last Payment"
          title="on May 12th, 2022"
          actionTitle="View Details"
          routerLink="/billing/history/last"
          color="accent"
        ></app-billing-card>
      </div>
      <div class="billing-history">
        <h1 class="title">Billing History</h1>
        <app-billing-history [@onEnterLeft]="{params: { delay: 150}}"></app-billing-history>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
