<mat-card class="mat-elevation-z0 unit-card">
  <mat-card-header>
    <mat-card-title>
      {{unit.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{unit.location}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="60px" gutterSize="5px">
      <mat-grid-tile class="chart-tile" rowspan="4" *ngFor="let chart of unitCharts">
        <app-unit-chart [type]="chart" [unit]="unit"></app-unit-chart>
      </mat-grid-tile>
      <mat-grid-tile class="unit-indicator-tile" *ngFor="let unitIndicator of unitIndicators">
        <app-unit-indicator [type]="unitIndicator" [unitData]="unitData|async"></app-unit-indicator>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
