<mat-card class="unit-card">
  <mat-card-header>
    <mat-card-title>
      {{unit.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{unit.location}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list class="chart-grid" cols="2" gutterSize="0px" rowHeight="360px">
      <mat-grid-tile class="chart-tile" *ngFor="let chart of unitCharts">
        <app-unit-chart hoverElevation [defaultElevation]="0" [raisedElevation]="5" [type]="chart" [unit]="unit"></app-unit-chart>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list class="indicator-grid" cols="2" rowHeight="100px"  gutterSize="0">
      <mat-grid-tile class="unit-indicator-tile" *ngFor="let unitIndicator of unitIndicators">
        <app-unit-indicator  hoverElevation [defaultElevation]="0" [raisedElevation]="5" [type]="unitIndicator" [unitData]="unitData|async"></app-unit-indicator>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
