<form class="form-container" [formGroup]="registrationForm" (ngSubmit)="reset()">
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="" type="password" [formControl]="password" required autocomplete="new-password">
    <span matSuffix>
        <mat-icon>lock</mat-icon>
      </span>
    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password (again)</mat-label>
    <input matInput placeholder="" type="password" [formControl]="passwordConfirm" required autocomplete="new-password"
           [errorStateMatcher]="matcher">
    <span matSuffix>
        <mat-icon>lock</mat-icon>
      </span>
    <mat-error *ngIf="registrationForm.hasError('notSame')">
      Passwords do not match
    </mat-error>
  </mat-form-field>

  <div class="error-wrapper">
    <mat-error *ngIf="error">{{error}}</mat-error>
  </div>

  <button class="spinner-button" type="submit" mat-stroked-button [disabled]="disableSubmit">
    <div class="button-spinner" @fade *ngIf="submitted">
      <mat-spinner diameter="20"></mat-spinner>
    </div>
    <div *ngIf="!submitted" @fade>
      Reset
    </div>
  </button>
</form>
