:host {
  display: flex;
  flex-direction: column;
  border-radius: 60px;
  padding: 2em 2.8em;
  position: relative;
  overflow: hidden;
  flex: 1;
  margin: 1.2em;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 24px;
  margin-top: 0.6em;
  margin-bottom: 0;
}

.subtitle {
  font-weight: normal;
  margin-top: 12px;
  font-size: 16px;
}

.absolute-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  text-align: center;
}

.stat {
  font-size: 60px;
}

.background-overlay, .ripple-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.background-overlay {
  pointer-events: none;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;

  .action-arrow {
    mat-icon {
      font-size: 40px;
    }
  }
}

.action-arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.5em;
  height: 4em;
  padding-left: 2em;
  padding-top: 2em;
  border-top-left-radius: 45px;
}

.meta {
  flex: 1;
  align-self: flex-start;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 7em;
}

