<app-page-header title="Key Cards" (searchValueChanged)="updateSearchValue($event)" @onEnterLeft [actions]="pageHeaderActions"></app-page-header>
<div class="table-container">
  <app-loading-shade *ngIf="isLoadingKeyCards" @fade></app-loading-shade>

  <ng-template #rowTemplate let-item>
    <div class="key-card-row">
      <span class="cardName">{{item['name'] || 'None'}}</span>
      <span class="email">{{item['owner']['email']}}</span>
      <span class="cardCode">{{item['cardCode']}}</span>
      <span class="facilityCode">{{item['facilityCode']}}</span>

      <div class="actions">
        <button mat-icon-button color="accent" (click)="openKeyCardDebugDialog(item)">
          <mat-icon>bug_report</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <app-simple-table @onEnterLeft [data]="keyCards" [columns]="displayedColumns"
                    (tableEvent)="tableEventTriggered($event)"
                    [rowTemplate]="rowTemplate">
  </app-simple-table>

  <div class="paginator-container">
    <mat-paginator [length]="totalKeyCards" [pageSize]="pageSize"></mat-paginator>
  </div>

  <app-no-data-shade entityName="Key Cards" *ngIf="!isLoadingKeyCards && totalKeyCards === 0" @fade></app-no-data-shade>
</div>
