<form class="form-container" [formGroup]="resetForm" (ngSubmit)="reset()">
  <mat-form-field appearance="outline" floatLabel="always" hideRequiredMarker>
    <mat-label>Email address</mat-label>
    <input matInput autocomplete="off" placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="error-wrapper">
    <mat-error *ngIf="error">{{error}}</mat-error>
  </div>

  <button type="submit" mat-stroked-button [disabled]="email.invalid">Request Reset</button>
</form>
