<div class="title-wrapper">
  <h1>Storro</h1>
  <h2>Forgot Password</h2>
</div>

<form class="form-container" [formGroup]="resetForm" (ngSubmit)="reset()">
  <mat-form-field appearance="outline">
    <mat-label>Email address</mat-label>
    <input matInput autocomplete="off" placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
  <div class="error-wrapper">
    <mat-error *ngIf="error">{{error}}</mat-error>
  </div>

  <button type="submit" mat-stroked-button [disabled]="email.invalid" (click)="reset()">Request Reset</button>
</form>
