:host {
  display: flex;
  flex-direction: column;
  border-radius: 20%;
  padding: 2em 2.8em;
  position: relative;
  overflow: hidden;
  flex: 1;
  margin: 1.2em;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 22px;
  margin-top: 0.6em;
}

.stat {
  font-size: 60px;
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 2em;
  left: 2.5em;

  .mat-icon {
    font-size: 32px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
}

.info {
  z-index: 10;
  display: flex;
  align-items: flex-end;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
