@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

@mixin color($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, 'primary');
  $accent: map.get($color-config, 'accent');

  .admin-setting {
    @include mat.elevation-transition();

    &.error {
      background-color: red;
    }

    @if $isDarkTheme {
      border-color: #4e4d4d;
      border-width: 2px;
      border-style: solid;
    } @else {
      border-color: #e7e7e7;
      border-width: 2px;
      border-style: solid;
    }

    .title {
      @if $isDarkTheme {
        color: mat.get-color-from-palette($accent, 100, 0.9);
      } @else {
        color: #484848;
      }
    }

    .subtitle {
      @if $isDarkTheme {
        color: #ffffff9e;
      } @else {
        color: #444444;
      }
    }

    .mat-icon {
      @include mat.elevation(1);

      color: white;
      background: #56CCF2;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .mat-icon.error {
      background: #FF416C; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .mat-icon.success {
      background: #11998e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}


@mixin theme($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme, $isDarkTheme);
  }
}
