<layout-card-grid-page *ngIf="unit|async as unit" title="Settings" [subtitle]="unit.id" backRouterLink="../" #gridPageComponent>
  <mat-grid-list [cols]="gridPageComponent.columnsDisplayed" rowHeight="1:1" gutterSize="0px">
    <mat-grid-tile @cardGridAnimation>
      <app-unit-monitor-setting class="admin-setting" [unit]="unit" matRipple routerLink="./monitor"></app-unit-monitor-setting>
    </mat-grid-tile>
    <mat-grid-tile @cardGridAnimation colspan="2">

    </mat-grid-tile>
  </mat-grid-list>
</layout-card-grid-page>
