<app-loading-shade *ngIf="isLoading"></app-loading-shade>

<ng-template #rowTemplate let-item>
  <div class="line-item-row">
    <span class="amount">{{item['amount']|currency: 'USD'}}</span>
    <span class="status">
      <span class="status-badge status-badge-{{item['status']|lowercase}}">{{item['status']|titlecase}}</span>
    </span>
    <span class="paidOn">{{item['date']|date}}</span>
    <span class="paymentMethod">
        <img class="type-image" [src]="getImageType(item['paymentMethod']['type'])">
      <span>{{item['paymentMethod']['name']}}</span>
    </span>
  </div>
</ng-template>

<div class="billing-history-table-container">
  <app-simple-table [data]="billingHistoryData" [columns]="displayedColumns" [rowTemplate]="rowTemplate">
  </app-simple-table>
</div>
