:host {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.billing-history-table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.line-item-row {
  display: flex;
  flex: 1;
  align-items: center;

  .amount, .status, .paidOn, .paymentMethod {
    flex: 1;
  }

  .amount {
    font-size: 20px;
  }

  .status .status-badge {
    padding: 5px 1em;
    border-radius: 8px;
    &.status-badge-paid {
      background-color: #dff4f5;
      color: #05ccbf;
    }
  }
}
