:host {
  flex: 1;
  border-radius: 16px;
  display: flex;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}

.chart-meta {
  padding-top: 18px;
  padding-left: 18px;

  .chart-title {
    font-size: 20px;
  }
}

.chart-wrapper {
  flex: 1;
  max-height: calc(100% - 70px);
  margin-left: -1.6em;
  width: 120%;

 ::ng-deep .line-highlight {
    display: block;
  }

  &.large {
    max-height: calc(100% - 120px);
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.chart-details {
  padding: 1px 18px 28px;
  display: flex;
  justify-content: space-between;
  margin-top: -0.5em;
}

.chart-measurement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

* {
  user-select: none;
}
