<div class="page-header">
  <div class="metadata" @onEnterLeft>
    <h1 class="title">Users</h1>
    <mat-icon class="title-icon" inline>people</mat-icon>
  </div>
  <div class="actions">
    <div class="action-bar" @onEnterLeft>
      <button mat-flat-button color="primary" class="icon-text-button" (click)="openCreateUserDialog()">
        <mat-icon inline>add_circle</mat-icon>
        <span>Create User</span>
      </button>
    </div>

    <app-search-bar (searchValueChanged)="updateSearchValue($event)" @onEnterRight></app-search-bar>
  </div>
</div>
<div class="table-container">
  <app-loading-shade *ngIf="isLoadingUsers" @fade></app-loading-shade>

  <ng-template #rowTemplate let-item>
    <div class="user-row">
      <span class="firstName">{{item['firstName']}}</span>
      <span class="lastName">{{item['lastName']}}</span>
      <span class="role">{{item['role']|role}}</span>
      <span class="email">{{item['email']}}</span>
      <span class="emailValidated">
            <span class="status-badge status-badge-{{item['emailValidated']}}">{{item['emailValidated'] ? 'Validated' : 'Pending Validation' }}</span>
          </span>

      <div class="actions">
        <button mat-icon-button color="primary" (click)="openEditUserDialog(item)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="openUserDebugDialog(item)">
          <mat-icon>bug_report</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>

  <app-simple-table @onEnterLeft [data]="users" [columns]="displayedColumns" (tableEvent)="tableEventTriggered($event)"
                    [rowTemplate]="rowTemplate">
  </app-simple-table>

  <div class="paginator-container">
    <mat-paginator [length]="totalUsers" [pageSize]="pageSize"></mat-paginator>
  </div>

  <div class="no-data-shade" *ngIf="!isLoadingUsers && totalUsers === 0" @fade>
    <h1>No Users</h1>
  </div>
</div>
