.create-card {
  min-width: 50%;
  min-height: 55%;
  padding: 0;
  display: flex;
  flex-direction: column;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;

    h2 {
      margin: 0;
      font-size: 22px;
    }

    button {
      position: absolute;
      left: 1em;
    }
  }

  mat-divider {
    position: relative;
  }

  .inner-card {
    flex: 1;
    margin-top: 2em;
  }
}


form {
  display: flex;
  flex-direction: column;
  flex: 1;

  span.spacer {
    flex: 1;
  }

  .mat-form-field:first-child {
    margin-top: 1.5em;
  }

  .mat-form-field {
    margin-bottom: 1em;

    .mat-error {
      font-size: 12px;
    }
  }
}

h1 {
  margin: 0 !important;
}

.user-group {
  .mat-form-field:first-child {
    margin-bottom: 1em;
  }

  mat-divider {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.card-info-group {
  mat-divider {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .subtitle {
    display: flex;
    margin-bottom: 1em;
    margin-top: 2em;
    justify-content: center;
    align-items: center;

    .mat-divider {
      flex: 1;
      position: relative;
      margin-left: 1em;
    }

    span {
      font-size: 18px;
    }
  }
}


mat-stepper {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: stretch flex-start;
  align-items: stretch;

  ::ng-deep {
    .mat-horizontal-content-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .mat-horizontal-stepper-content[aria-expanded=true] {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

}

.buttons {
  margin-top: 3em;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 1em;
    min-width: 100px;
  }
}

.tenants-list {
  ::ng-deep {
    .mat-list-item-content {
      flex-direction: row !important;
      padding: 0 !important;
    }

    .mat-icon {
      opacity: 0;
      transition: opacity 200ms ease-in-out;

      &.selected {
        opacity: 1;
      }
    }
  }

  .tenant {
    border: 1px solid gray;
    border-radius: 8px;
    width: auto;
    flex: 1;
    margin: 0 0 0.5em;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}


