.content {
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host {
  display: flex;
  min-width: 460px;
  min-height: 380px;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .mat-divider {
    position: relative;
    flex: 1;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .mat-form-field {
    margin-bottom: 1em;
  }
}

.error-wrapper {
  height: 22px;
  margin-bottom: 1em;
}

mat-toolbar {
  justify-content: center;
  span {
    text-align: center;
  }
}

.checkbox-wrapper {
  app-spinner-button {
    display: block;
    margin-top: 2em;
  }
}

.spacer {
  flex: 1;
  display: block;
}

.error-wrapper {
  height: 22px;
}
