@use 'sass:map';
@use 'node_modules/@angular/material' as mat;

@mixin color($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  $foreground: map.get($color-config, foreground);
  $background: map.get($color-config, background);

  .toggle-option {
    color: mat.get-color-from-palette($foreground, text);
    background-color: mat.get-color-from-palette($background, focused-button);

    &.selected {
      background-color: mat.get-color-from-palette($background, selected-button);
    }
  }
}


@mixin theme($theme, $isDarkTheme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme, $isDarkTheme);
  }
}
