:host {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 2em 2.8em;
  position: relative;
  overflow: hidden;

  &.show-borders {
    border-width: 2px;
    border-style: solid;
  }
}

.title {
  font-size: 24px;
  margin-top: 0.6em;
}

.amount {
  display: flex;
  align-items: baseline;
  margin-top: 1.8em;

  .dollar-amount, .cents-amount {
    font-weight: bold;
  }

  .dollar-amount {
    font-size: 48px;
  }

  .cents-amount {
    font-size: 28px;
  }
}

.subtitle {
  margin-top: 0;
  font-size: 16px;
}

.button-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .charged-to {
    font-size: 12px;
    color: gray;
    flex: 1;
    padding-left: 12px;
    text-align: right;
  }
}



.subtitle, .amount, .title, .button-wrapper {
  z-index: 2;
}

.title,
.subtitle,
.button-wrapper {
  user-select: none;
}

.background-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

