:host {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8em 1.2em;
  padding: 0 24px 4px;

  flex: 1;
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2px;
  margin-top: 6px;
  height: 100%;
  border-radius: 0;
  margin-right: -2em;
  width: 4em;
  padding: 0.4rem 1.2em 0.4rem 0.5em;

  .mat-icon {
    $icon-size: 30px;
    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
    line-height: $icon-size;
  }

  &.has-badge .mat-badge-content {
    font-family: 'Material Icons', emoji;
    background-color: red;
    font-size: 13px;
    line-height: 17px;
    pointer-events: none;
  }
}

.indicator-text {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 65%;

  .indicator-title {
    margin-right: 0.4rem;
    vertical-align: middle;
    font-size: 1rem;
  }

  .indicator-value {
    font-weight: 500;
    font-size: 1.8rem;
    vertical-align: middle;

    &.gray {
      color: grey;
    }
  }
}

.ripple-wrapper {
  pointer-events: none;
  position: absolute;

  $innerMargin: 0.8em;
  top: $innerMargin;
  bottom: $innerMargin;
  left: $innerMargin;
  right: $innerMargin;
  overflow: hidden;
  border-radius: 16px;
}

* {
  user-select: none;
}
