
.search-wrapper {
  width: 100%;
  overflow: hidden;
  margin: auto;

  .no-display {
    display: none;
  }

  .search {
    display: flex;
    align-items: center;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 14px;
    padding-left: 0.5em;
    padding-right: 1.5em;

    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 0 16px 0 8px;
      font-size: 16px;
    }

    mat-icon {
      margin-right: 10px;
      color: lightgray;
      margin-bottom: 3px;
    }
  }
}
