:host {
  height: 100%;
}

h1 {
  margin: 0!important;
}

mat-stepper {
  height: 100%;
}

.buttons {
  margin-top: 3em;
  display: flex;
  button {
    margin-right: 1em;
    min-width: 100px;
  }
}
