<mat-stepper orientation="vertical" linear>
  <mat-step [stepControl]="mailingAddressFormComponent.mailingAddressFormGroup">
    <ng-template matStepLabel>
      <h1>Mailing Address</h1>
    </ng-template>
    <app-mailing-address-form #mailingAddressFormComponent [googleAvailable]="googleAvailable"></app-mailing-address-form>
    <div class="buttons">
      <button mat-stroked-button matStepperNext [disabled]="mailingAddressFormComponent.addressNextDisabled">Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="personalInfoFormComponent.personalInformationFormGroup">
    <ng-template matStepLabel>
      <h1>Personal Information</h1>
    </ng-template>
    <app-personal-info-form #personalInfoFormComponent></app-personal-info-form>
    <div class="buttons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext [disabled]="personalInfoFormComponent.personalNextDisabled">Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="emergencyContactFormComponent.emergencyContactFormGroup">
    <ng-template matStepLabel>
      <h1>Emergency Contact</h1>
    </ng-template>

    <app-emergency-contact-form #emergencyContactFormComponent></app-emergency-contact-form>
    <div class="error-wrapper">
      <mat-error *ngIf="error">{{error}}</mat-error>
    </div>

    <div class="buttons">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <app-spinner-button [disabled]="emergencyContactFormComponent.saveDisabled" [submitted]="submitted"
                          (click)="createAccount()">Save
      </app-spinner-button>
    </div>
  </mat-step>
</mat-stepper>
